<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
  <link href="/styles/main.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://fonts.cdnfonts.com/css/dungeon-depths" rel="stylesheet">
</head>
<body class="container min-h-[100vh] ">          <!-- From Uiverse.io by jeremyssocial --> 
<div class="items flex justify-start items-between">
        <% if (locals.data) { %>
            <% for (let i = 0; i < data.length; i++) { %>
                <div class="bg-gradient-to-r from-blue-400 to-blue-600 p-4 rounded-lg mb-4 w-full max-w-md  m-2"> 
                    <p class="text-white font-bold mb-2">user: <%= data[i].user %></p>
                    <p class="text-white font-semibold mb-2">title: <%= data[i].title %></p>
                    <p class="text-white">content: <%= data[i].content %></p>
                </div>
            <% } %>
        <% } else { %>
            <p class="text-gray-500">NOTHING HERE</p>
        <% } %>
</div>
<div>
<form action="/" class="mt-6">
  <input 
    type="submit" 
    value="HOMEPAGE"
    class="bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold py-3 px-6 rounded-xl border-2 border-blue-300 hover:border-blue-200 shadow-lg hover:shadow-xl transform hover:scale-105 transition-all duration-300 cursor-pointer">
</form>
</div>
</body>
</html>